{%extends 'base.html'%}
{% load django_bootstrap5 %}
{%block content%}
<div class="row">
    <div class="col-md-8">
        <h4 class="m3">
            Recent Post
        </h4>
{%for post in posts%}
<div class="card m-3" style="width: 40rem;">
    {%if post.image%}
    <img src="{{post.image.url}}" class="card-img-top" alt="{{post.content}}">
    {%endif%}
    <div class="card-body">
     
      
      <div class="ms-5 d=flex">
        <h5 class="card-title">{{post.content}}</h5>
        {%if request.user == post.author%}
        <a class="btn btn-danger" href="{%url 'post:delete-post' post.id %}" role="button">delete</a>
        <a class="btn btn-secondary" href="{%url 'post:update-post' post.id%}" role="button">update</a>
        {%endif%}
    </div>
    <p class="card-text">{{post.author.username}}</p>

    <p>Comments ({{post.comment_set.count}}) </p>
        
    <form method="post" >
        {%csrf_token%}
        {% bootstrap_form c_form %}
        <input type="hidden" value="{{post.id}}" name="post_id">
        <input value="comment" name="comment_button" type="submit" class="btn btn-primary">
        </form> 
        {%for comment in post.get_all_comments%}
        <p>
            {{comment.comment}}
        </p>
        {%endfor%}
    </div>
  </div>
{%endfor%}
    </div>
    <div class="col-md-4">
      
        
     <form method="post" enctype="multipart/form-data" >
        {%csrf_token%}
        {% bootstrap_form form %}
        
        <input value="new post" name ="post_button" type="submit" class="btn btn-primary">
        </form> 
    </div>
</div>
{%endblock%}