{%extends 'base.html'%}
{% load django_bootstrap5 %}
{%block content%}
<div class="row">
    <div class="col-md-8">
        <h4 class="m3">
            Recent Post
        </h4>
{%for post in posts%}
<div class="card m-3" style="width: 40rem;">
    {%if post.image%}
    <img src="{{post.image.url}}" class="card-img-top" alt="{{post.content}}">
    {%endif%}
    <div class="card-body">
      <h5 class="card-title">{{post.content}}</h5>
      <p class="card-text">{{post.author.username}}</p>
      
    </div>
  </div>
{%endfor%}
    </div>
    <div class="col-md-4">
      
     <form method="post" enctype="multipart/form-data" >
        {%csrf_token%}
        {% bootstrap_form form %}
        
        <input value="new post" type="submit" class="btn btn-primary">
        </form> 
    </div>
</div>
{%endblock%}